<div class="container" style="width:40%">

    <h5 class="text-center">Registration Form</h5>
     
    <!-- {{customer | json}} -->
    <!-- {{customerForm.value | json}} -->
   

    <!-- template driven approach -->
    <form (ngSubmit)="registerNewCustomer()"  #customerForm="ngForm">
        <div class="form-group">
            <label class="form-label" >Name:</label>
            <input type="text" class="form-control"[(ngModel)]="customer.name" 
            name="customer_name" #name="ngModel"
             [class.is-invalid]="name.touched && name.invalid" required/>
              <!-- {{name.touched}} -->
            <div class="text-danger" [class.d-none]="name.valid || name.untouched">
                Name is required
            </div>
        </div>
       
        <div class="form-group">
            <label class="form-label" >Email Id:</label>
            <input type="email" class="form-control"[(ngModel)]="customer.email" name="email" required/>
        </div>

        <div class="form-group">
            <label class="form-label" >Password:</label>
            <input type="password" class="form-control"  [(ngModel)]="customer.password" name="password"/>
        </div>

         <div class="form-group">
             <label class="form-label">Contact:</label>
             <input type="number" class="form-control"
                [(ngModel)]="customer.contact" name="phone"
                pattern="^\d{10}$" #phone="ngModel" [class.is-invalid]="phone.touched && phone.invalid" required/>
                <!-- {{phone.errors.pattern}} -->
                 <!-- {{phone.errors.required}} -->
                <div *ngIf="phone.errors && phone.touched"> 
                    <div class="text-danger" *ngIf="phone.errors?.required">
                        Phone number is required
                    </div>
                    <div class="text-danger" *ngIf="phone.errors?.pattern"> 
                        Phone number must be 10 digits
                    </div>
                </div>
        </div>

        <div class="form-group">
            <label class="form-label" >Gender:</label> &nbsp;
             <div class="form-check form-check-inline" >
                <input type="radio" name="gender"  value="Male" class="form-check-input" [(ngModel)]="customer.gender"/>Male
            </div>
            <div class="form-check form-check-inline">
                    <input type="radio" name="gender"  value="Female" class="form-check-input" [(ngModel)]="customer.gender"/>Female
            </div>
        </div>

        <div class="form-group">
           <label class="form-label" >Address Line1:</label>
           <input type="text" class="form-control" [(ngModel)]="customer.address.addressLine1" name="addressLine1" required>
        </div>

        <div class="form-group">
                <label class="form-label" >State:</label>&nbsp;
              <select required class="form-control" [(ngModel)]="customer.address.state" name="state">
                  <option value="">---Select---</option>
                  <option value="Maharashta">Maharashta</option>
                  <option value="Karnataka">Karnataka</option>
                  <option value="Madhya Pradesh">Madhya Pradesh</option>
                  <option value="Uttar Pradesh">Uttar Pradesh</option>
              </select>
        </div>

        <div class="form-group">
                <label class="form-label" >City:</label>&nbsp;
              <select required class="form-control" [(ngModel)]="customer.address.city" name="city">
                  <option value="">---Select---</option>
                  <option value="Mumbai">Mumbai</option>
                  <option value="Bangalore">Bangalore</option>
                  <option value="Bhopal">Bhopal</option>
                  <option value="Gurgaon">Gurgaon</option>
              </select>
        </div>

        <div class="form-group">
                <label class="form-label" >Postal Code:</label>
                <input type="number" class="form-control"  [(ngModel)]="customer.address.postalCode " name="postalCode" required/>
         </div>
         
        <button  type = "submit" class="btn btn-block bg-info"
        [disabled]="customerForm.form.invalid">Register</button>
        <!-- {{customerForm.form.valid}} -->
    </form>
</div>