<div class="container" style="width:40%">
    <h4 class="text-center">Login Form</h4>
    <form>
        <div class="form-group">
              <label class="form-label">Email Id:</label>
              <input type="email" class="form-control" required/>
        </div>
        <div class="form-group">
                <label class="form-label">Password:</label>
                <input type="password" class="form-control" required/>
        </div>
        <button type="submit" class="btn btn-block bg-info">Login</button>
        <br>
      
        <h6 class="text-center"><a href="#">New User? Create New Account</a></h6>
     </form>
</div>
